
body{
  min-height:100%;
  margin: 0 auto;
  padding: 16px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: #0B7EA4;
background: -moz-linear-gradient(top, #0B7EA4 0%, #5BB0CB 80%, #99CFCA 100%);
background: -webkit-linear-gradient(top, #0B7EA4 0%, #5BB0CB 80%, #99CFCA 100%);
background: linear-gradient(to bottom, #0B7EA4 0%, #5BB0CB 80%, #99CFCA 100%);
  }
 
.icons {
  float:right;
  display:flex;
  flex-direction:row;
}


img:hover{
  transform:rotate(180deg);
}

#intro {
  width: 50%;
  text-align: left;
  float: left;
}
  
  
.project{
  width: 50%;
  float: left;
  padding: 16px;
}

.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}



/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(45deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-45deg);
}

.list{
display: flex;
flex-direction: column;
gap: 16px;
}

.list dt {
font-weight: bold;
}

.list dd {
margin-left: 0;
margin-bottom: 8px;
}

a {
  color: #a12424;

}

a:hover {
  color: #6CA47D;
  text-decoration: underline;
}